@CHARSET "UTF-8";

.butter-1{
	background-color: #fce94f;
	color: #000;
}

.butter-2{
	background-color: #edd400;
	color: #000;
}

.butter-3{
	background-color: #c4a000;
	color: #fff;
}

.orange-1{
	background-color: fcaf3e;
	color: #000;
}

.orange-2{
	background-color: #f57900;
	color: #fff;
}

.orange-3{
	background-color: #ce5c00;
	color: #fff;
}

.chocolate-1{
	background-color: #e9b96e;
	color: #000;
}

.chocolate-2{
	background-color: #c17d11;
	color: #fff;
}

.chocolate-3{
	background-color: #8f5902;
	color: #fff;
}

.chameleon-1{
	background-color: #8ae234;
	color: #000;
}

.chameleon-2{
	background-color: #73d216;
	color: #000;
}

.chameleon-3{
	background-color: #4e9a06;
	color: #fff;
}

.sky-blue-1{
	background-color: #729fcf;
	color: #000;
}

.sky-blue-2{
	background-color: #3465a4;
	color: #fff;
}

.sky-blue-3{
	background-color: #204a87;
	color: #fff;
}

.plum-1{
	background-color: #ad7fa8;
	color: #fff;
}

.plum-2{
	background-color: #75507b;
	color: #fff;
}

.plum-3{
	background-color: #5c3566;
	color: #fff;
}

.scarlet-red-1{
	background-color: #ef2929;
	color: #fff;
}

.scarlet-red-2{
	background-color: #cc0000;
	color: #fff;
}

.scarlet-red-3{
	background-color: #a40000;
	color: #fff;
}

.aluminium-1{
	background-color: #eeeeec;
	color: #000;
}

.aluminium-2{
	background-color: #d3d7cf;
	color: #000;
}

.aluminium-3{
	background-color: #babdb6;
	color: #000;
}

.aluminium-4{
	background-color: #888a85;
	color: #fff;
}

.aluminium-5{
	background-color: #555753;
	color: #fff;
}

.aluminium-6{
	background-color: #2e3436;
	color: #fff;
}